* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header {
    width: 100%;
    height: 600px;
    background: #1f1485;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(251, 77%, 31%, 0.459), hsla(239, 95%, 36%, 0.664)), url(../img/portada.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(251, 77%, 31%, 0.459), hsla(239, 95%, 36%, 0.664)), url(../img/portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* FunkyWorkers */

main .funkyworkers{
    padding: 30px 0 60px 0;
}
.contenedor-funkyworkers{
    display: flex;
    justify-content: space-evenly;
}

.imagen-funkyworkers{
    width: 48%;
}


/* Fotos */


.fotos{
    background: #f2f2f2;
}

.galeria-fots{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-fots{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-fots > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Artistas */

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #4d0686;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
    text-align: center;
}

.temas{
    background: #f2f2f2;
    padding-bottom: 30px;
}


.temas-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.temas-ind{
    width: 28%;
    text-align: center;
}

.temas-ind img{
    width: 90%;
}

.temas-ind h3{
    margin: 10px 0;
}

.temas-ind p{
    font-weight: 300;
    text-align: justify;
}

/* footer */

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

@media screen and (max-width:900px){
    header{
        background-position: center;
    }

    .contenedor-funkyworkers{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imagen-funkyworkers{
        width: 90%;
    }

    /* Fotos */

    .imagen-fots{
        width: 44%;
    }

    /* Artistas */

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }

    /* Temas */

    .temas-cont{
        justify-content: center;
        flex-direction: column;
    }

    .temas-ind{
        width: 100%;
        text-align: center;
    }

    .temas-ind:nth-child(1), .temas-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .temas-ind img{
        width: 90%;
    }
}

@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    /* FunkyWorkers */

    .imagen-funkyworkers{
        margin-bottom: 60px;
        width: 99%;
    }

    /* Fotos */

    .imagen-fots{
        width: 95%;
    }

    /* Artistas */

    .cards .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards .card img{
        width: 90px;
        height: 90px;
    }

    /* Footer */

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
}